@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.landing-page {
}
.content-cards {
  max-width: $max-width-lg;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: pxToRem(32);
  @include tablet{
    padding: 5rem 0 10rem 0;
  }
  @include desktop{
    margin: 0 auto pxToRem(32) auto;
  }
  &__link {
    text-decoration: none;
    width: 100%;
    display: flex;
    width: 335px;
    @include tablet{
      width: 568px;
    }
    @include desktop{
      width: 1072px;
    }
  }
}

.manage-events-section {
  text-align: center;
  //padding: pxToRem(42);

  @include tablet {
  //  padding: pxToRem(42) pxToRem(108);
  }

  &__title {
    color: $color-indigo;
    margin: 0 0 pxToRem(72) 0;
  }
}

.eventcard-list {
  list-style: none;
  margin: 0;
  padding: 24px 0 96px 0;
  display: flex;
  flex-direction: column;
  gap: pxToRem(24);
  width: 335px;
  @include tablet{
    width: 568px;
    padding: 2rem 0 2rem 0;
  }
  @include desktop{
    width: 1072px;
    padding: 5rem 0 96px 0;
  }
  &__item {
    padding: pxToRem(24);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: pxToRem(24);
    border-radius: 8px;
    border: 1px solid $color-gray-light;
    background-color: $color-white;
    width: 100%;
  }
}
